.heading{
    color:"#fff";
}
.category-content{
    padding-top:40px;
}

@media only screen and (max-width:450px){
    .category-slider .heading-section h1{
        font-size:25px;
        margin-top:50px;
    }
}