.free-trial-banner-btn{
    position: absolute;
    right: 15%;
    margin-top: -180px;
}
.free-trial-banner img{
    padding-left: 100px;
    padding-right: 100px;
}

@media only screen and (max-width:450px){
    .free-trial-banner img{
        padding-left: 25px;
        padding-right: 25px;
    }
}