.hero-text-container{
    position: absolute;
    top: 80%;
    left: 50%;
    color: white;
    transform: translate(-50%, -80%);
    text-align: center;
}

.hero-text-container .heading{
    font-size:50px;
}
.hero-text-container .sub-heading{
    color: #c9c8c8;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 500;
}
.hero-text-container .p-button-danger{
    font-size:20px;
}
.hero-text-container .p-button-danger .pi-play-circle{
    font-size: 30px;
}

@media only screen and (min-width:361px) and (max-width:450px){
    .hero-text-container {
        top: 40%;;
    }
    .hero-text-container .heading {
        font-size: 40px;
        margin-bottom:80px;
    }
    .hero-text-container .p-button-danger{
        font-size:15px;
    }
    .hero-text-container .p-button-danger .pi-play-circle{
        font-size: 20px;
    }
}

@media only screen and (max-width:360px){
    .hero-text-container {
        top: 50%;
    }
    .hero-text-container .heading {
        font-size: 25px;
        margin-bottom:80px;
    }
    .hero-text-container .p-button-danger{
        font-size:10px;
        font-weight: 600;
    }
    .hero-text-container .p-button-danger .pi-play-circle{
        font-size: 20px;
    }
}