.device-cards .p-card{
    background-color: rgba(0, 0, 0, 0.226);
    border: 1px solid black;
}
.device-card-title{
    margin-left:30px;
}
.device-card-title .icon {
    border: 1px solid black;
    padding: 10px;
    margin-right: 30px;
    border-radius: 5px;
    background: #262626;
}

.device-card-title .icon .pi {
    font-size:30px;
    color:red;
}

@media only screen and (max-width: 450px) {
    .across-device .heading-section h1 {
        font-size: 25px;
        margin-top: 20px;
    }
}